:root {
  --accent-color: #6a869c;
  --hero-color: linear-gradient(to right, #faf6f2 0%, #9eb8cc 100%);
  --secondary-color: #f2f9ff;
  --heading-font-family: "Playfair Display", system-ui;
  --default-font-family: "Montserrat", system-ui;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", system-ui;
  font-weight: 500;
  color: black;
}
h2 {
  font-size: 64px;
  font-weight: 700;
}
nav {
  padding: 7px;
}
nav h2 a {
  color: white;
  font-size: 38px;
  text-shadow: 3px 1px 2px var(--accent-color);
  padding: 10px;
  margin: 0;
  box-shadow: inset 0 -3px 3px var(--secondary-color),
    0 -3px 4px var(--secondary-color);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}
nav a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}
nav a:hover,
nav li.active a {
  color: #272142;
}
hr {
  color: var(--accent-color);
  margin-top: 5px;
}
.hero {
  background: var(--hero-color);
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 30px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero p {
  color: #272142;
  font-size: 24px;
  font-weight: 400;
}
.btn-accent {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 18px 30px;
  transition: all 100ms ease-in-out;
}
.btn-accent:hover {
  background-color: var(--accent-color);
  color: black;
}
.main-section {
  padding: 50px 20px;
}
.main-section h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 75px;
}
.main-section h2 {
  color: #272142;
  font-size: 18px;
  font-family: var(--default-font-family);
}
.main-section h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 15px;
}

.main-section p {
  color: #272142;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  opacity: 0.8;
}
.introduction-paragraphs {
  margin: 60px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.project-wrapper {
  margin: 30px 20px 0 20px;
}
.project-paragraphs {
  color: #272142;
  font-size: 16px;
  line-height: 1.8;
  opacity: 0.8;
}
.btn-projects {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: black;
  background-color: var(--secondary-color);
  font-size: 16px;
  line-height: 27px;
  padding: 18px 30px;
  transition: all 100ms ease-in-out;
}
.btn-projects:hover {
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
}
img {
  padding: 50px 20px;
  background: linear-gradient(to right, #fffcfa 0%, #f5faff 100%);
  border-radius: 4px;
}
.image-wrapper-first-row {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.image-wrapper-first-row img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  margin-top: 40px;
}
footer h4 {
  font-size: 42px;
}
footer .contact-box {
  background: var(--hero-color);
  padding: 20px 20px;
  border-radius: 5px;
}
footer .contact-box .work-inquiry-wrapper {
  padding-left: 80px;
}
footer .email-link {
  text-decoration: none;
  color: #272142;
  font-size: 18px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
footer .email-link:hover {
  color: white;
}
footer .social-link {
  padding: 20px;
  font-size: 15px;
  line-height: 40px;
}
footer .social-link .icon {
  padding: 10px 14px;
  font-size: 18px;
  line-height: 50px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-link .icon:hover {
  background: var(--hero-color);
  color: white;
}
footer .social-link .github-link {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
footer .social-link .github-link:hover {
  color: blue;
}
@media (max-width: 768px) {
  nav {
    padding: 10px;
  }
  nav a {
    font-size: 12px;
  }
  nav li {
    margin-left: 10px;
  }
  nav h2 a {
    font-size: 32px;
  }
  .hero {
    padding: 60px 20px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 26px;
  }
  h2 {
    font-size: 50px;
  }
  .introduction-paragraphs {
    margin: 20px;
  }
  .project-wrapper {
    text-align: center;
    margin: 10px;
  }
  .main-section {
    text-align: center;
    padding: 30px 20px;
  }
  .main-section h1 {
    font-size: 45px;
    line-height: 62px;
  }
  footer .contact-box {
    text-align: center;
  }
  footer h4 {
    font-size: 35px;
  }
  footer .contact-box .work-inquiry-wrapper {
    padding-left: 0;
  }
  footer .social-link {
    padding: 20px 40px;
    font-size: 12px;
  }
}
